*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Knucklehead';
  src: url('fonts/Knucklehead.otf') format("opentype");
}

:root {
  --white-color: #f8f8f8;
  --grey-color: #eeeeee;
  --red-color: #ee0000;
  --dark-red-color: #cc0000;
  --black-color: #111111;
  --primary-font: Knucklehead, 'Monserrat', sans-serif;
  --secondary-font: 'PT Serif', serif;
}

body {
  height: 100vh;
}

h1, h2, p {
  color: var(--black-color);
  text-align: center;
}

h1 {
  font-size: 7rem;
  margin-bottom: 24px;
  font-family: var(--primary-font);
  letter-spacing: 5px;
  font-weight: normal;
  color: var(--white-color);
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 24px;
  font-family: var(--primary-font);
  letter-spacing: 1px;
  font-weight: normal;
}

li {
  list-style-type: none;
  padding: 10px 20px 10px 20px;
}

li a {
  text-decoration: none;
  color: var(--white-color);
}

p {
  font-family: var(--secondary-font);
}

.scrolled {
  background-color: #000000f5;
}

.nav-logo {
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-weight: normal;
  font-family: var(--primary-font);
}

.outer-nav {
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  height: 10vh;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  color: var(--white-color);
}

.inner-nav {
  display: flex;
}

.inner-nav li {
  font-size: 1.1rem;
  margin-left: 1vh;
  margin-right: 5vh;
}

.inner-nav a {
  text-decoration: none;
  color: var(--white-color);
}

#Contact-Us-Nav {
  background-color: #00000096;
  border-radius: 6px;
  margin-right: 0;
}

.subheading {
  color: var(--white-color);
  font-size: 2vh;
  margin-bottom: 2rem;
}

.hero-banner {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, 0.6)), url("photos/hero-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-buttons {
  display: flex;
  justify-content: center;
}

.button {
  font-size: 2.5vh;
  letter-spacing: 3px;
  text-decoration: none;
  color: var(--white-color);
  padding: 15px 25px 15px 25px;
  background-color: var(--black-color);
  border-radius: 5.429rem;
  margin-right: 1.5rem !important;
  text-transform: uppercase;
  font-family: var(--primary-font);
}

.second-button {
  background-color: #00000000;
  border: 2px solid var(--black-color);
}

.second-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.second-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.second-button:hover span {
  padding-right: 25px;
}

.second-button:hover span:after {
  opacity: 1;
  right: 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}