*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Knucklehead';
  src: url('fonts/Knucklehead.otf') format("opentype");
}

:root {
  --white-color: #f8f8f8;
  --grey-color: #eeeeee;
  --red-color: #ee0000;
  --dark-red-color: #b10000;
  --alt-red-color: #c00000;
  --black-color: #111111;
  --primary-font: Knucklehead, 'Monserrat', sans-serif;
  --secondary-font: 'PT Serif', serif;
}

body {
  height: 100vh;
}

h1, h2, p {
  color: var(--black-color);
  text-align: center;
}

h1 {
  font-size: 7rem;
  margin-bottom: 24px;
  font-family: var(--primary-font);
  letter-spacing: 5px;
  font-weight: normal;
  color: var(--white-color);
}

h2 {
  font-size: 4.5rem;
  font-family: var(--primary-font);
  letter-spacing: 2px;
  font-weight: normal;
  margin-bottom: 2%;
}

li {
  list-style-type: none;
  padding: 10px 20px 10px 20px;
}

li a {
  text-decoration: none;
  color: var(--white-color);
}

p {
  font-family: var(--secondary-font);
}

.scrolled {
  background-color: #000000f5;
}

.nav-logo {
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-weight: normal;
  font-family: var(--primary-font);
}

.header-logo {
  display: block;
  width: 20vh;
  margin-left: auto;
  margin-right: auto;
}

.outer-nav {
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  height: 10vh;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  color: var(--white-color);
}

.inner-nav {
  display: flex;
}

.inner-nav li {
  font-size: 1.1rem;
  margin-left: 1vh;
  margin-right: 5vh;
}

.inner-nav a {
  text-decoration: none;
  color: var(--white-color);
}

.inner-nav a:hover {
  color: var(--alt-red-color);
  transition: 0.5s;
}

#Contact-Us-Nav {
  background-color: #00000096;
  border-radius: 6px;
  margin-right: 0;
}

.subheading {
  color: var(--white-color);
  font-size: 2vh;
  margin-bottom: 2rem;
}

.hero-banner {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, 0.6)), url("photos/hero-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

.hero-buttons {
  display: flex;
  justify-content: center;
}

.button {
  font-size: 2.5vh;
  letter-spacing: 3px;
  text-decoration: none;
  color: var(--white-color);
  padding: 15px 25px 15px 25px;
  background-color: var(--black-color);
  border-radius: 5.429rem;
  margin-right: 1.5rem !important;
  text-transform: uppercase;
  font-family: var(--primary-font);
}

.second-button {
  background-color: #00000000;
  border: 2px solid var(--black-color);
}

.second-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.second-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: var(--alt-red-color);
}

.second-button:hover span {
  padding-right: 25px;
}

.second-button:hover span:after {
  opacity: 1;
  right: 0;
}

.content {
  padding: 0 5vh;
}

.solid {
  border-top: 3px solid var(--alt-red-color);
  width: 20vh;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}

.about-content {
  margin-left: auto;
  margin-right: auto;
}

.about {
  margin-bottom: 10%;
}

.services {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.service {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
  padding: 2%;
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
}

.service img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.service h2 {
  font-size: 3.5rem;
  color: var(--dark-red-color);
  text-align: left;
}

/* TODO: create media query that makes the flex box 1 0n 1 for services */
.service p {
  text-align: left;
}

.call-to-action {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.4)), url("photos/call-to-action.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

.call-to-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call-to-text h2 {
  color: var(--white-color);
}

.call-to-text a {
  margin-top: 10%;
  padding: 20px 40px 20px 40px;
}

.portfolio-showcase {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.portfolio {
  flex: 0 1 calc(25% - 4vh);
  height: 20vh;
  margin: 0 2vh;
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.4)), url("photos/call-to-action.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 900px) {
  .portfolio {
    flex: 0 1 calc(50% - 4vh);
    margin-bottom: 4vh;
  }
}

footer {
  background-color: #383838;
  padding: 2% 10%;
  padding-bottom: 0;
}

.footer-logo {
  display: block;
  width: 24rem;
  margin-left: auto;
  margin-right: auto;
}

.points-of-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5vh 0;
  padding-top: 2vh;
}

.point {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.fa-phone, .point-text, .fa-envelope, .fa-map-marker-alt {
  line-height: 50px;
}

.fa-phone, .fa-envelope, .fa-map-marker-alt {
  vertical-align: middle;
  font-size: 1.25rem;
  padding-right: .5vh;
  padding-left: .25vh;
  color: #d4d4d4;
}

h3 {
  font-size: 1.5rem;
  font-family: var(--primary-font);
  color: #d4d4d4;
  letter-spacing: 2px;
  font-weight: normal;
}

.copyright {
  border-top: #747474 1px solid;
  padding: 1% 0;
  color: #d4d4d4;
}

/* Styles for previous projects page */
.new-hero-banner {
  height: 65vh;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #55565b;
  font-size: 1.05rem;
  font-weight: 550;
}

.filters li:not(:first-child):before {
  content: '-';
  display: inline-block;
  vertical-align: middle;
  color: #55565b;
  padding-left: 1rem;
  padding-right: 1rem;
}

.filters li {
  padding: 0;
}

.projects {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.project {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2.5vh 2.5vh;
  text-decoration: none;
}

.project img {
  float: left;
  width: 640px;
  height: 480px;
  object-fit: cover;
  margin-bottom: 2vh;
}

.project-title {
  font-size: 1.5rem;
  font-style: normal;
  font-family: var(--secondary-font);
  text-decoration: none;
}

a {
  text-decoration: none;
}

#all {
  color: black;
}